Flask==0.8
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Jinja2==2.6
SQLAlchemy==0.7.7
Shapely==1.2.14
WTForms==1.0.1
Werkzeug==0.8.3
distribute==0.6.27
geojson==1.0.1
ipython==0.12.1
psycopg2==2.4.5
simplejson==2.5.2
ujson==1.18
wsgiref==0.1.2
