
<!DOCTYPE html>
<html>
<head>
	<title>Circonscriptions 2012 par Regards Citoyens version alpha</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/dist/leaflet.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--[if lte IE 8]><link rel="stylesheet" href="leaflet.ie.css" /><![endif]-->
</head>
<body>
	
	<div id="map" style="width: 600px; height: 400px"></div>
	<script src="/static/dist/leaflet.js"></script>
	<script src="/static/cir.js"></script>
</body>
</html>
